@model IEnumerable<CustomerViewModel>

@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@

@* <h2>title</h2> *@
@Html.ActionLink("Register a Customer","Register")
<br/>
<table id="myTable" class="table" cellspacing="0">
        <thead>
            <tr>
                @foreach (var property in Model.GetType().GetGenericArguments()[0].GetProperties()
                                            .Where(predicate=>predicate.Name != "Id"))
                {
                    <th>@property.Name</th>
                }
                <th>Relocate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                @foreach (var property in item.GetType().GetProperties().Where(predicate=>predicate.Name != "Id"))
                {
                     <td>@property.GetValue(item)</td>
                }
                <td>@Html.ActionLink("Relocate","Relocate","Customer",new {customerId=item.Id},null)</td>
                </tr>
            }
        </tbody>
    </table>